
 @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;500&display=swap');

*{
    margin: 0;
    padding: 0;
   
}

.container img{
    width: 250px;
    height: 250px;
}

.menu ul{
    padding:0px;
    margin:0px;
    list-style:none;
    float:right;
}

.menu ul li{
    
}